altair==4.2.2
attrs==23.4.0
blinker==1.6.2
bottleneck==1.5.12
brotli==1.0.9
cachetools==5.6.0
certifi==2023.11.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
gitdb==4.0.10
GitPython==3.1.32
idna==3.5
Jinja2==3.1.2
joblib==1.4.2
jsonschema==4.19.0
MarkupSafe==2.1.3
mkl-service==2.4.0
mkl-fft==1.6.2
mkl-random==1.3.1
numexpr==2.8.4
numpy==2.0.1
pandas==2.2.3
pillow==10.1.0
protobuf==5.29.3
pyarrow==13.0.0
pydeck==0.10.0b1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
rpds-py==0.9.4
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.8.0
six==1.16.0
smmap==5.0.0
streamlit==1.27.1
tenacity==8.2.2
threadpoolctl==3.6.0
toml==0.10.3
tornado==6.3.4
typing-extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
watchdog==3.0.0
wheel==0.45.1
win-inet-pton==1.1.0